<div id="sidebar-wrapper">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a href="#home"><span>Home</span></a>
            </li>
            {{templates-nav 'temp/templates/**/*.html'}}
        </ul>
    </nav>
</div>
