---
description: This is an example how to use this style guide. In the description area you write down the description
of your css class or javascript function. It uses markdown syntax in the handelbars file. In the <code>styleguide-example</code>
area you place your life code with all normal functionality. In the <code>styleguide-figure</code> are you place the
escaped code to show how your function or class is used.
options:
- option: |
<code>example-code-foo</code> attribute. This attribute does foo.
- option: |
<code>example-code-bar</code> attribute. This attribute does bar.
---
<div>
    <p>{{{this.description}}}</p>
    <ul>
        {{#each this.options}}
            <li>{{{option}}}</li>
        {{/each}}
    </ul>
    <div class="styleguide-example">
        <button class="btn btn-default example-code-foo">foo</button>
        <button class="btn btn-default example-code-bar">bar</button>
    </div>
    <figure class="styleguide-figure">
        <pre><code class="html">&lt;!--The example-code-foo does foo--&gt;<br>&lt;button class=&quot;btn btn-default example-code-foo&quot;&gt;foo&lt;/button&gt;<br><br>&lt;!--The example-code-foo does bar--&gt;<br>&lt;button class=&quot;btn btn-default example-code-bar&quot;&gt;bar&lt;/button&gt;</code></pre>
    </figure>
</div>
