---
description: "The options area is used for a listing of your optional attributes or parameter."
options: |
    - option: option 1
    - option: option 2
---
<div>
    <p>{{{this.description}}}</p>
    <ul>
        {{#each this.options}}
            <li>{{{option}}}</li>
        {{/each}}
    </ul>

    <figure class="styleguide-figure">
        <pre><code class="markdown">---<br>options: |<br>- option: |<br>   option 1<br>- option: |<br>   option 2<br>---</code></pre>
    </figure>
</div>
